Source: ros-kinetic-strands-webserver
Section: misc
Priority: extra
Maintainer: Nick Hawes <n.a.hawes@cs.bham.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-catkin, ros-kinetic-rosbridge-server, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-strands-webtools
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-strands-webserver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-webpy, ros-kinetic-actionlib, ros-kinetic-actionlib-msgs, ros-kinetic-rosbridge-server, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-std-srvs, ros-kinetic-strands-webtools, ros-kinetic-twitter-bootstrap
Description: A webserver which responds to ROS service calls to display content.
