Source: ros-indigo-mary-tts
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-catkin, ros-indigo-message-generation, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-std-msgs
Homepage: https://github.com/strands-project/strands_ui
Standards-Version: 3.9.2

Package: ros-indigo-mary-tts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jdk, python-flask, ros-indigo-actionlib, ros-indigo-actionlib-msgs, ros-indigo-message-runtime, ros-indigo-pygame-managed-player, ros-indigo-roslib, ros-indigo-rospy, ros-indigo-std-msgs
Description: The mary-tts package
